body{
	background : #EEE;
}

header{
	position : absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #31B0D5;
	color: white;
}

header h1{
	padding-top: 40px;
	font-family: "arial-rounded";
	font-weight: bold;
	width: 100%;
	text-align: center;
}

footer{
	position : absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: 1px solid #999;
	/*color: white;*/
}

footer p{
	color: #999;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}

#logincontainer{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
}

.menucontainer{
	margin-top: 50px;
	margin-left: 10%;
}

.formcontainer{
	width: 90%;
	left: 5%;
	position: absolute;
}

#section{
	height: 100%;
	position: absolute;
	top: 100px;
	width: 100%;
	margin-bottom: 40px;
}

#wrapper{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 80%;
	padding: 10px;
}

#adminmenu li a:focus, #adminmenu li a:hover{
	background: #DDD;
}

#adminmenu button, #adminmenu a {
	display: inline;
}

#adminmenu a {
	width: 200px;
	display: inline-block;
}

#adminmenu{
	max-width: 300px;
}

#logoutbutton{
	position: absolute;
	bottom: 50px;
}