body{
	background : #EEE;
}

header{
	position : absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #31B0D5;
	color: white;
}

header h1{
	padding-top: 40px;
	font-family: "arial-rounded";
	font-weight: bold;
	width: 100%;
	text-align: center;
}

footer{
	position : absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: 1px solid #999;
	/*color: white;*/
}

footer p{
	color: #999;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}

#logincontainer{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#section{
	position: absolute;
	top: 150px;
}