body{
	background : #F9F9F9;
}

header{
	position : relative;
	width: 100%;
	height: 100px;
	background: #FF0000;
	color: white;
}

header h1{
	font-family: "arial-rounded";
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin-top: 0;
	padding-top: 30px;
}

footer{
	position : fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: 1px solid #999;
	color: white;
	background: #000;
}

footer p{
	color: #999;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}

#logincontainer{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.menucontainer{
	margin-top: 50px;
}

.formcontainer{
	width: 100%;
	left: 5%;
	/*position: absolute;*/
}

.formcontainer label{
	font-size: 1em;
}

#section{
	height: 100%;
	position: absolute;
	top: 100px;
	width: 100%;
	margin-bottom: 40px;
}

#wrapper{
	position: relative;
	width: 100%;
	padding: 10px;
	margin-bottom: 60px;
}

#adminmenu li a:focus, #adminmenu li a:hover{
	background: #DDD;
}

#adminmenu button, #adminmenu a {
	display: inline;
}

#adminmenu a {
	width: 200px;
	display: inline-block;
	text-align: left;
	font-size: 1.5em;
}

#adminmenu span{
	font-size: 1.5em;
}

#adminmenu{
	max-width: 100%;
	text-align: center;
}

#logoutbutton {
    bottom: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#pnotif{
	height: 150px;
}

.panel{
	max-width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.td-options .btn{
	padding: 10px 10px;
	font-size: 10px;
}

.form-title{
	font-size: 2em;
	color:#333;
	font-weight: bolder;
	border-width: 0px 0px 2px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #F24141;
}

.referul{
	display:none;
}

.cuadlul{
	display:none;
}

.cuadul{
	display: none;
}

.comuneul{
	display: none;
}

#mapcontainer {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.listcontainer li{
	border-top:1px solid gray;
	text-decoration: none;
	list-style-type: none;
	border-left-width: 0;
}

.listcontainer a{
	text-decoration: none;
}

.listcontainer .btn{
	padding:2px;
}

.listcontainer h5{
	display: inline-block;
}

.listcontainer .optset{
	display: inline-block;
	float: right;
	margin: 3px;
}
